.grid_add{
	background-image:url(images/icons/grid_add.png)!important;
}

.grid_delete{
    background-image:url(images/icons/grid_delete.png)!important;
}

.grid_edit{
    background-image:url(images/icons/grid_edit.png)!important;
}

.grid_view{
    background-image:url(images/icons/grid_view.png)!important;
}

.grid_search{
    background-image:url(images/icons/grid_search.png)!important;
}

.grid_save{
    background-image:url(images/icons/grid_save.png)!important;
}